
html{
  height: 100%;
}

body{
  background: linear-gradient(to bottom, #f2d674 , white);
}

.imgPlace{
  float: left;
  margin: 30px;
  margin-left: 100px;
  width: 300px;
  height: 250px;
}

.imgPic{
  max-width: 300px;
  vertical-align: middle;
  object-fit: contain;
  object-position: left bottom;
  border: 3px solid black;
  border-radius: 10px;    
}

.imgPic:hover{
  opacity: 0.3;
}

.hide{
  display: none;
}

h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  float: left;
}

#product-chart{
  height: 500px;
  max-width: 750px;
  border: 20px solid blue; 
  margin: 30px auto;
  border-radius: 20px;
}

/* #listResults{
  margin: 30px auto;
  width: 500px;
  height: 600px;
  border: 3px solid black;
  overflow: hidden;
} */

ul li{
  text-align: left;
  font-size: 17px;
  list-style-type: circle;
  padding: 5px;
  margin-left: 20px;
}


